@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #28282B;
}

#title {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

.middle-container {
    width: 50%;
    display: flex;
    gap: 100px;
    background-color: #28282B;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 25px;
}

#color-picker {
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#color-picker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

#pencil {
    color: cadetblue;
    background-color: beige;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

#rainbow {
    color: cadetblue;
    background-color: beige;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

#eraser {
    color: cadetblue;
    background-color: beige;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

#clear {
    color: cadetblue;
    background-color: beige;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

#grid {
    color: cadetblue;
    background-color: beige;
    border: none;
    width: 150px;
    height: 35px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
}

#square-number {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

#square-number::-webkit-slider-runnable-track {
    background-color: beige;
    height: 0.5rem;
}

#square-number::-moz-range-track {
    background-color: beige;
    height: 0.5rem;
}

#square-number::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -4px;
    background-color: cadetblue;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

#square-number::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: cadetblue;
    height: 1rem;
    width: 1rem;
    margin-top: -4px;
}


#square-label {
    align-self: center;
    color: cadetblue;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

#sketch-part {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 480px;
    height: 480px;
    background-color: white;
}

#sketch-part * {
    border: 1px solid black;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: beige;
    color: cadetblue;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

#footer a {
    text-decoration: none;
    color: cadetblue;
}

.link-title {
    margin-left: 1rem
}

#footer img {
    width: 3rem;
    height: 3rem;
}