@font-face {
    font-family: 'digital-clock-font';
    src: url('fonts/digital-7.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F1E9;
}

.content {
    margin-top: 100px;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    background-color: #454545;
}

.top {
    width: 410px;
    height: 100px;
    border-radius: 10px;
    background-color: #B4B4B3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;

}

#operator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;
}

#number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 10px;

}

#top-number {
    color: #454545;
    font-family: 'digital-clock-font';
    font-size: 36px;
    font-weight: bold;
    background-color: #B4B4B3;
    border: none;
}

#operator-sign {
    color: #454545;
    font-family: 'digital-clock-font';
    font-size: 36px;
    font-weight: bold;
    background-color: #B4B4B3;
    border: none;
}

#bottom-number {
    color: #454545;
    font-family: 'digital-clock-font';
    font-size: 36px;
    font-weight: bold;
    background-color: #B4B4B3;
    border: none;
}


#clear {
    width: 205px;
    height: 50px;
    border-radius: 8px;
    background-color: #F05454;
}


#delete {
    width: 205px;
    height: 50px;
    border-radius: 8px;
    background-color: #829460;
}

div button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: #E9B824;
    color: #454545;
    font-family: 'digital-clock-font';
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s;
}

div button:hover {
    transform: translateY(-0.3rem);
    background-color: #219C90;
}

#clear:hover {
    background-color: #219C90;
}

#delete:hover {
    background-color: #219C90;
}

.footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E9B824;
    background-color: #454545;
}

.footer p {
    margin-right: 1rem;
}

.footer a {
    text-decoration: none;
    color: #E9B824;
}

#name {
    margin-right: 0.5rem;
}